site_configs: &site_configs
  # 导航栏 Logo 位置 HTML
  navbar_brand_html: |
    <a href="/" class="navbar-brand"><b>Hi</b>voice</a>
  # 导航栏扩展菜单
  navbar_html: |
    
  index_html: |
    <div style="text-align:center;"></div>
  wiki_index_html: |
    <div>Wiki Home page.</div>
  wiki_sidebar_html: |
    <strong>推荐内容</strong>
    <ul>
      <li><a href="/wiki/about">关于我们</a></li>
    </ul>
  footer_html: |
    <p class="copyright">
     &copy; Powered by <a href="http://www.hivoice.com">xiaorongtao</a>.
    </p>
  after_topic_html: ""
  before_topic_html: ""
  topic_index_sidebar_html: ""
  site_index_html: "下面列出了相关网站。如果你知道还有不在此列表的，请帮忙补充。"
  custom_head_html: |
    <link rel="dns-prefetch" href="//assets.your-host.com">
  node_ids_hide_in_topics_index: ""
  ban_words_on_reply: |
    mark
    收藏
    顶
    赞
    up
  tips: |
    提示1
    提示2
  newbie_notices: |
    <p>为提高平台质量，我们要发布的针对新注册用户的通知。</p>
  ban_reasons: |
    标题或正文描述不清楚
    无意义的发帖
    存在广告嫌疑

defaults: &defaults
  <<: *site_configs
  # Plugin module, [topic,home,wiki,site,note,team,github,editor.code,press,jobs]
  modules: 'home'
  # ,article,press,jobs,wiki,site,note,team,editor.code'
  # User profile module default: all [company,twitter,website,tagline,location,alipay,paypal,qq,weibo,wechat,douban,dingding,aliwangwang,facebook,instagram,dribbble,battle_tag,psn_id,steam_id]
  profile_fields: 'company,twitter,website,tagline,location,alipay,paypal,qq,weibo,wechat,douban,dingding,aliwangwang,facebook,instagram,dribbble,battle_tag,psn_id,steam_id'
  app_name: "Hivoice"
  # domain: "localhost:3000"
  domain: "voicer-2018.herokuapp.com"
  https: false
  default_locale: 'zh-CN'
  auto_locale: false
  admin_emails: >
    admin@admin.com
  google_analytics_key: ""
  asset_host: ""
  upload_url: ""
  upload_provider: "qiniu" # can be  file/upyun/aliyun
  upload_access_id: "FKj0IPQwM3gquMCFBSQjYI_1EGxb-8sASTh30--U" # or username
  upload_access_secret: "t938V-cIGD6GFZWhS2VxsVWmZ1S06lWVrFKgKtsS" # or upyun password
  upload_bucket: "journey"
  bucket_domain: "kangclass.com"
  upload_aliyun_internal: false
  upload_aliyun_area: "cn-shanghai"
  mailer_provider: 'smtp'
  mailer_sender: 'rongtaoxiao@163.com'
  mailer_options:
    address: ''
    port: 25
    domain: 'voicer-2018.herokuapp.com'
    # domain: 'localhost:3000'
    user_name: ''
    password: ''
    authentication: 'plain'
    enable_starttls_auto: true
  sso:
    enable: false
    enable_provider: false
    url: ''
    secret: ''
  github_token: "91726ee4170d8e2679ec"
  github_secret: "13c7e55e8e53c57a399181e96ea3a55a3fdd9c7c"
  apns_pem: ""
  blacklist_ips: ""
  reject_newbie_reply_in_the_evening: false
  newbie_limit_time: 86400

development:
  <<: *defaults

test:
  <<: *defaults
  modules: 'all'
  upload_provider: "qiniu"
  admin_emails: >
    admin@admin.com
  sso:
    enable: false
    enable_provider: false

production:
  <<: *defaults
